@import 'variables.scss';

.settings-container {
  margin: 20px;
  display: grid;
  grid-gap: 30px 50px;
  grid-template-columns: repeat(5, 1fr);
}

h2 {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: $mainGray;
}

.settings-card {
  min-width: 200px;
  border: 0.25pt $darkestGray solid;
  border-radius: 5px;
  padding: 10px;
}

.settings-card:hover {
  border: 2pt $darkestGray solid;
}

.settings-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: $mainGray;
}

#newcards {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.add-card-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: $mainBlack;
  font-size: 100px;
}

#newcard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: $darkestGray;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
}

#newcard:hover {
  background: $darkerGray;
}

.settings-form {
  margin-left: 20px;
  margin-top: 25px;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.individual-entry {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 250px;
  align-items: center;
  justify-content: space-between;
}

.settings-label {
  font-family: Arial, Helvetica, sans-serif;
  color: $darkerGray;
}

.settings-input {
  align-self: flex-end;
  outline: none;
  height: 30px;
  border: 1pt $darkestGray solid;
  background-color: $darkestGray;
  color: $mainGray
}

.settings-input:focus {
  outline: none;
  background-color: $mainBlack;
  color: $mainGray;
}

.form-buttons {
  margin-right: 15px;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  color: white;
}

#submit {
  background-color: $mainBlue;
}

#submit:hover {
  background-color: $darkerBlue;
}

#delete {
  background-color: $mainRed;
}

#delete:hover {
  background-color: $darkerRed;
}
