$mainBlack: rgb(34, 34, 34);
$lighterBlack: lighten($mainBlack, 10%);
$mainGray: rgb(215, 215, 215);
$darkerGray: darken($mainGray, 25%);
$darkestGray: darken($mainGray, 50%);
$mainBlue: rgb(90, 154, 218);
$darkerBlue: darken($mainBlue, 25%);
$mainRed: rgb(209, 68, 68);
$darkerRed: darken($mainRed, 25%)