nav {
  margin-top: 10vh;
  margin: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  z-index: 3;
}

.navLink {
  margin: 3%;
  padding: 5px;
  color: whitesmoke;
  font-weight: 400;
  font-size: 20px;
  z-index: 4;
}

.gitStar{
  margin: 3%;
  align-self: center;
  padding: 5px;
}