.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
  padding: 20rem auto;
}

.teamContainerHeader {
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
}

.profileHolder {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.profileCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}