@import "_nav";

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  width: 100vw;
  height: 100vh;
  background-color: lightseagreen;
  color: whitesmoke;
}

.App {
  text-align: center;
}

